<div class="container">
  <div class="card border-0 shadow my-5" id="rubric">
    <div class="card-body p-0">     
      <div class="row">
          
        <div class="col-lg-10 col-sm-12">
          <div class="card">
            <div class="card-header dark bg-dark">
              <h2 class="m-0 dark"><%= @article.title %></h2>
            </div>
            <%= image_tag((@article.head_img_url),  class:"img-fluid rounded") %>
            <div class="card-body p-2 ">
            <p class="lead"><%= @article.body %></p>
            </div>  
          </div> 
        </div> 
      </div> 
    </div>     
  </div> 
</div> 


