<%= render 'layouts/navbar' %>
<body>
<div class="jumbotron">
  <div class="container container-hero">

    <div class="row">
      <div class="col-8  animated fadeInRight">
        
          
        <h1 class="title-slogan">Le Rhone en cartes </h1>
          
      </div>
    </div> 
  </div>
</div>
  


</body>