<%= render 'layouts/navbar' %>

<div class="jumbotron">
  <div class="container container-hero">

    <div class="row">
      <div class="col-5 col-xl-6 col-lg-7 col-md-8 col-sm-9 p-0 animated fadeInRight">
      
        <%= image_tag(("logo.png"), class:"hero-logo") %>
        <h1 class="title-slogan">La première coopérative agricole urbaine et citoyenne
        <br><%= link_to "Rejoignez-nous !", new_user_session_path, class:"btn hero-btn btn-primary btn-rounded btn-lg"%>
        </h1>
        
      </div>
    </div>

  </div>
</div>